body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

header {
  background-image: url("foto/background.jpg");
  background-size: cover;
  min-height: 400px;
  height: 100vh;
  color: white;
}

.black {
  background-color: black;
  opacity: 0.7;
  width: 92%;
  height: 94vh;
  padding-top: 6vh;
  padding-left: 4%;
  padding-right: 4%;
}

header h1 {
  color: white;
  /*text-shadow: -1px 0 orange, 0 1px orange, 1px 0 orange, 0 -1px orange;*/
  font-family: serif;
  font-size: 50px;
  margin-top: 30px;
  margin-bottom: 50px;
  letter-spacing: 3px;
}

header h2 {
  text-transform: uppercase;
  letter-spacing: 4px;
  color: orange;
  margin-top: 70px;
}

.bold {
  font-weight: bold;
}

.orange, .active {
  color: orange;
}

nav a {
  text-decoration: none;
  color: white;
  margin: 10px;
}

nav {
  float: right;
}

.top-bar {
  /*margin: 20px;*/
  /*margin-top: 20px;*/
  font-size: 20px;
  text-transform: uppercase;
}

.content {
  width: 600px;
  margin: auto;
}

.button {
  margin-top: 50px;
  width: 140px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  display: block;
  background-color: orange;
  color: white;
  text-decoration: none;
  padding: 10px 40px;
  border-radius: 10px;
}

header p {
  color: white;
}

/*section p {
  color: black;
}*/

.wrapper h1 {
  width: 100%;
  /*display: inline-block;*/
}

section {
  /*margin: 50px 0px;*/
  height: 100vh;
}

.wrapper {
  /*width: 600px;*/
  width: 56%;
  padding: 10px;
  margin: auto;
}

.desc {
  width: 70%;
  display: inline-block;
}

img {
  width: 25%;
  float: right;
  border-radius: 50%;
  box-shadow: -3px 10px 5px #888888;
}



.autor {
  font-weight: bold;
}

section h2 {
  margin: 10vh;
  font-size: 20px;
  text-align: center;
  color: orange;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.socials {
  text-align: center;
  font-size: 30px;
  width: 100%;
  margin-top: 16vh;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  padding: 10px;
}

.socials a {
  color: black;
  transition: color 0.8s ease;
}

.socials a:hover {
  color: orange;
}

i {
  line-height: 50px;
  font-size: 40px;
  /*display: block;*/
}

@keyframes example {
    from {color: black;}
    to {color: orange;}
}

.fb {
  float: left;
  color: black;
  transition: color 1s ease;
}

.fb:hover {
  color: orange;
}

.gh {
  float: left;
  color: black;
  transition: color 1s ease;
}

.gh:hover {
  color: orange;
}

.yt {
  float: left;
  color: black;
  transition: color 1s ease;
}

.yt:hover {
  color: orange;
}

.li {
  float: left;
  color: black;
  transition: color 1s ease;
}

.li:hover {
  color: orange;
}

footer {
  background-color: #edeff2;
  text-align: center;
  padding: 40px;
}

footer span {
  text-transform: uppercase;
  font-weight: bold;
}

.foot_content {
  width: 100%;
  margin: auto;
}


/*.project {
  width: 200px;
  height: 25vh;
  border-radius: 15px;
  line-height: 25vh;
  text-align: center;
  color: white;
  font-size: 40px;
  background-color: orange;
}*/

.skill-block {
  width: 100%;
  margin-top: 50px;
}

.skill {
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin-bottom: 5vh;
}

.skill-name {
  color: black;
  width: 45%;
  float: left;
  font-size: 28px;
}

.skill-rate {
  color: orange;
  width: 55%;
  float: left;
}

.mail-link {
  color: orange;
  font-size: 20px;
  text-decoration: none;
}
